attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.4
GDAL==3.4.3
idna==3.3
iniconfig==1.1.1
kiwisolver==1.4.4
matplotlib==3.6.1
numpy==1.22.3
packaging==21.3
Pillow==9.2.0
PlexeAPI @ file:///Users/eclewlow/Code/plexe-pyapi
pluggy==1.0.0
py==1.11.0
pycairo==1.21.0
PyGObject==3.42.1
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pytest==7.1.1
pytest-mock==3.7.0
python-dateutil==2.8.2
requests==2.27.1
six==1.16.0
sumolib==1.14.1
tomli==2.0.1
traci==1.14.1
urllib3==1.26.9
